<div class="container-fluid">
  <h1 class=" text-center">Create Your Own Form</h1>
  

  <div class="flex-container">

      <!-- left menu panel -->
      <div class="flex-first-child">
        
        <div class="form-group">
          <label>Select Element {{elementControl}}</label>
          <select  [(ngModel)]="elementControl" class="form-control" name="elementControl" >
            <option *ngFor="let element of elementList; let i = index" [value]="element">{{element}} </option>
          </select>
        </div>


        <div class="form-group">
          <label>Select Grid</label>
          <select  [(ngModel)]="selectGrid" class="form-control" (change)="handleGrid($event)">
            <option *ngFor="let grid of gridLineList; let i = index">{{grid}}</option>
          </select>
        </div>

      </div>
      <!-- left menu panel -->

      <div class="flex-second-child">

        <div class="row">

          <ng-container *ngFor="let _data of contentGeneratedList; let i = index" >
            
            <div  class="col-md-{{_data.size}} custMargin"  *ngIf="_data.name == 'Input'" >
              <input type="text" class="custom-form-control" placeholder="add label" [(ngModel)]="_data.label">
              <input type="text" class="form-control" [(ngModel)]="_data.value">
            </div>

            <div  class="col-md-{{_data.size}} custMargin" *ngIf="_data.name == 'Dropdown'" >
              <input type="text" class="custom-form-control" placeholder="add label" [(ngModel)]="_data.label">
              <select class="form-control" placeholder="Select" [(ngModel)]="_data.value">
                <option *ngFor="_drop of _data.array; let i = index;">{{_drop}}</option>
              </select>
            </div>

          </ng-container>

        </div>

      </div>

  </div>

   


</div>


<router-outlet></router-outlet>