<div class="container-fluid">
  <h1 class=" text-center">Create Your Own Form</h1>
  

  <div class="flex-container">

      <!-- left menu panel -->
      <div class="flex-first-child">
        
        <div class="form-group">
          <label>Select Element {{elementControl}}</label>
          <select  [(ngModel)]="elementControl" class="form-control" name="elementControl" >
            <option *ngFor="let element of elementList; let i = index" [value]="element">{{element}} </option>
          </select>
        </div>


        <div class="form-group">
          <label>Select Grid</label>
          <select  [(ngModel)]="selectGrid" class="form-control" (change)="handleGrid($event)">
            <option *ngFor="let grid of gridLineList; let i = index">{{grid}}</option>
          </select>
        </div>

      </div>
      <!-- left menu panel -->

      <div class="flex-second-child">


          <div class="row" *ngFor="let _data of contentGeneratedList; let i = index" >

            <ng-container *ngFor="let _child of _data?.elementRecord; let idx = index">
            
                <div  class="col-md-{{_child.size}} custMargin"  *ngIf="_child.name == 'Input'" >
                  <button type="button" class="btn-close deleteIcon" aria-label="Close" (click)="removeElement(i, idx)"></button>

                  <input type="text" class="custom-form-control" placeholder="add label" [(ngModel)]="_child.label">
                  <input type="text" class="form-control" [(ngModel)]="_child.value">
                </div>


                <div  class="col-md-{{_child.size}} custMargin" *ngIf="_child.name == 'MultiChoice'" >
                  <button type="button" class="btn-close deleteIcon" aria-label="Close" (click)="removeElement(i, idx)"></button>
                  <input type="text"  class="custom-form-control" placeholder="add label" [(ngModel)]="_child.label">
                  
                  <button type="button" class="btn-add" aria-label="Close" (click)="openElement(i, idx)"><i class="bi bi-plus"></i>
                  </button>
                  <fieldset  *ngFor="_drop of _child?.array; let i = index;">
                    <legend>{{_drop?.key}}</legend>
                    <input type="radio" name="action_{{i}}" id="i" value="_drop?.value" />
                
                  </fieldset>
                </div>

            </ng-container>

        </div>

      </div>

  </div>

   


</div>





<!-- Multiple Choice Value Popup -->

<div class="modal" tabindex="-1" [ngStyle]="{'display':displayStyle}" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Values</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="displayStyle = 'none'"></button>
      </div>
      <div class="modal-body">
        <div class="col-md-12"><input type="text" [(ngModel)]="addKey" class="form-control" placeholder="Add Label"></div>
        <div class="col-md-12"><input type="text" [(ngModel)]="addVal" class="form-control mt-2"  placeholder="Add Value"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="displayStyle = 'none'">Close</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>