input, select {
    border: 1px solid #a1a1a1;
}

.flex-container{
    display: flex;
    width: 100%;
    justify-content: space-between;

    .flex-first-child{
        flex:20%;
        border: 1px solid #cecece;
        overflow: hidden;
        padding: 15px;

        .form-group{
            margin-bottom: 15px;
        }
    }
    .flex-second-child{
        flex:80%;
        border: 1px solid #cecece;
        overflow: hidden;
        padding: 20px;

        .custMargin{
            margin-right: 0px;
            margin-bottom: 10px;
            position: relative;

            .deleteIcon{
                position: absolute;
                right: 5px;
                top: 5px;
                font-size: 12px;
            }
            .plus-btn{
                position: absolute;
                font-size: 26px;
                top: -6px;
                right: 25px;
            }
        }
        .custom-form-control{
            border-bottom: 1px solid #9edaff!important;
            margin-bottom: 8px;
            width: 100%;
            border: 0px;
            outline: #166aab;
        }
        .multi-container{
            margin-top: 10px;
        }
        .custom-multi-key{
            float: right;
            font-size: 14px;
            padding-left: 5px;
            margin-right:12px;
        }
        .custom-multi-value{

            float: left;
            width: 11px;
            height: 24px;
            border-radius: 30px;

        }
    }

    

}
